[common]
upload_folder=files

[waitress]
host=0.0.0.0
port=5000

[log]
level=INFO
log_directory=files/logs

[video]
video_directory=files/video/
frames_directory=files/frames_streams/
image_directory=files/image/
clip_threshold_const=0.45
resnet_threshold_const=0.2

[database]
database_name=museum_data
images_collection_name=images
train_collection_name=train_data
new_train_collection_name=new_train_data
classifiers_collection_name=classifiers_data

[training]
clip_threshold=0.55
resnet_threshold=0.25
number_of_highest_results=6