[common]
upload_folder=uploads
[waitress]
host=0.0.0.0
port=5000
[log]
level=INFO
[video]
video_directory=uploads/video/
frames_directory=uploads/frames_streams/
image_directory=uploads/image/
threshold_const=0.5
[database]
database_name=museum_data
images_collection_name=images
train_collection_name=train_data