[common]
upload_folder=uploads

[waitress]
host=0.0.0.0
port=5000

[log]
level=INFO

[video]
video_directory=uploads/video/
frames_directory=uploads/frames_streams/
image_directory=uploads/image/
threshold_const=0.5

[database]
database_name=museum_data
images_collection_name=images
train_collection_name=train_data
new_train_collection_name=new_train_data

[training]
clip_threshold=0.56
resnet_threshold=0.26
number_of_highest_results=5